* {
 box-sizing: border-box;
 margin: auto;
 max-width: 100vh;
 background-color: #214136;
 color: #B39C7B;
 text-align: center;
}

body {
 padding: 1rem;
}

.gameSection {
 display: flex;
 padding-top: 2rem;
}

.playerDiv {
 padding: 1rem;
 width: 50%;
}

.playerDiv h2 {
 padding: 1rem;
}

.chooseDiv {
 padding-top: 1rem;
}

.chooseDiv img {
 width: 10vw;
}

.computer {
 width: 50%;
 margin: 0;
 padding: 1rem;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
}

.computer h2 {
 margin: 0;
 padding: 1rem;
}

.computerChoiceImg {
 display: none;
 width: 10vw;
}

.results {
 display: none,
}